body
{
        background-image: linear-gradient(red, green); 
        font-family: Arial;
        margin-left: 6%;
        margin-right: 6%;
        margin-top: 2%;
        color: #addfde;
}
input#command
{
        width: 60%;
        padding: 0.7%;
        border-radius: 15px;
        border-color: #fcf6f5ff;
        font-size: 100%;
}
button
{
        background-color: #fcf6f5ff;
        font-family: Trebuchet MS;
        padding-top:  0.8%;
        padding-bottom: 0.8%;
        padding-right: 0.8%;
        padding-left: 0.8%;
        border-radius: 5px;
        font-size: 100%;
        border-color: #89abe3ff;
}
button:hover
{
        font-style: italic;
}
input#command:focus
{
        border-radius: 6px;
        border-color: #000;
}
header
{
        padding-top: 1px;
}
section#s1
{
        font-family: Courier New;
        font-weight: bold;
        font-size: 120%;
}
